modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34941
externalPort = 3001

[[ports]]
localPort = 39025
externalPort = 3000

[[ports]]
localPort = 39625
externalPort = 3003

[[ports]]
localPort = 42821
externalPort = 3002

[[ports]]
localPort = 45809
externalPort = 4200

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 42937648
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
